/* CustomPanel.css */
.small-filter-panel .panel-heading {
  padding: 0.25rem 0.75rem; /* Smaller padding */
  font-size: 0.9rem; /* Smaller font size */
  background-color: #f0efef; /* Light grey background */
}

.small-filter-panel .panel-block {
  padding: 0.25rem 0.75rem; /* Smaller padding */
  max-height: 50px; /* Set the maximum height you desire */
  overflow-y: auto;
}

.small-filter-panel .panel-block .control {
  margin: 0.25rem 0; /* Smaller margin for control elements 
}

.small-filter-panel label.checkbox {
  font-size: 0.8rem; /* Smaller font size for checkbox labels */
  margin-right: 0.5rem; /* Space between checkboxes */
}

.scrollable-container {
  max-height: 200px; /* Adjust this value as needed for your design */
  overflow-y: auto; /* Adds vertical scrollbar when content overflows */
  overflow-x: hidden; /* Prevents horizontal scrollbar */
}

.selected-filters-container {
  background: #f5f5f5;
  border-radius: 8px;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.selected-filters-container .tag {
  display: flex;
  align-items: center;
  background: #e6e6e6;
  color: #333;
  font-weight: bold;
  border-radius: 20px;
  margin-right: 10px;
}

.selected-filters-container .delete {
  margin-left: 10px;
}
