/* For desktop screens */
.responsive-image {
  max-width: 100%; /* Ensures the image is not wider than its container */
  height: auto; /* Maintains aspect ratio */
  object-fit: cover; /* Covers the area without stretching the image */
}

@media (max-width: 767px) {
  .responsive-image {
    height: auto; /* Adjust the height for mobile devices */
  }
}

.category-image {
  display: block; /* Make sure the image is a block element to fill the width of its container */
  width: 250px; /* Set a fixed width */
  height: 200px; /* Set a fixed height */
  object-fit: cover; /* Cover the area without stretching the image */
  object-position: center; /* Center the image within the element bounds */
  margin: 10px;
  border-radius: 8px; /* Rounded corners, adjust as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
}

.brand-image {
  display: block; /* Make sure the image is a block element to fill the width of its container */
  max-width: 120px; /* Maximum width for the brand image */
  max-height: 55px; /* Maintain aspect ratio */
  object-fit: contain; /* Ensures the image is fully visible */
  margin: 10px;
  border-radius: 8px; /* Rounded corners, adjust as needed */
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
}

/* For mobile screens */

.is-size-6 {
  overflow: visible;
  white-space: normal;
  text-overflow: clip;
  height: auto;
}

.scroll-arrow {
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Semi-transparent white background */
  border-radius: 50%; /* Circular shape */
  width: 30px; /* Fixed width */
  height: 30px; /* Fixed height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-arrows button {
  font-size: 1.5rem;
  /* Other styles as needed */
}

/* Apply truncation only on mobile screens */
@media screen and (max-width: 768px) {
  .is-size-6 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px; /* or 100% if you want it to fill the card */
  }
}

.slick-prev,
.slick-next {
  z-index: 25;
  font-size: 0;
  color: transparent;
  top: 40%; /* Center vertically */
  transform: translateY(
    -50%
  ); /* Align the middle of the arrow with the middle of the slides */
}

.slick-prev:before,
.slick-next:before {
  font-size: 24px;
  color: white;
  opacity: 1;
}

.slick-prev {
  left: 1vw; /* Use viewport width units for relative positioning */
}

.slick-next {
  right: 2vw; /* Use viewport width units for relative positioning */
}

@media (max-width: 1407px) {
  .slick-prev:before,
  .slick-next:before {
    font-size: 20px; /* Smaller size for smaller devices */
  }

  /* Adjust left/right positioning for smaller devices if needed */
  .slick-prev {
    left: 2vw;
  }

  .slick-next {
    right: 2vw;
  }
}

.horizontal-scroll-container {
  position: relative;
  /* Add padding or margin to allow space for arrows if needed */
}

.horizontal-scroll-wrapper {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap; /* Prevent wrapping to a new line */
}

.scroll-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 50%; /* Circular shape */
  width: 35px; /* Fixed width */
  height: 35px; /* Fixed height */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  color: #333; /* Icon color */
  cursor: pointer;
  z-index: 20; /* Ensure it's above other items */
}

.scroll-arrow:hover {
  background: rgba(255, 255, 255, 0.9); /* Slightly more opaque on hover */
}

.scroll-arrow.left {
  left: 0;
}

.scroll-arrow.right {
  right: 0;
}

.horizontal-scroll-item {
  display: inline-block; /* Inline-block for horizontal layout */
  white-space: normal; /* Reset white-space for children */
  vertical-align: top; /* Align items to the top */
  margin-right: 10px; /* Adjust spacing between items */
}

/* Optional: Style to remove scrollbar visibility */
.horizontal-scroll-wrapper::-webkit-scrollbar {
  display: none;
}

.horizontal-scroll-wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (max-width: 767px) {
  .horizontal-scroll-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap; /* Prevent wrapping to a new line */
  }

  .horizontal-scroll-item {
    width: calc(
      (100vw - 50px) / 3
    ); /* Adjust for 3 items per row, 30px accounts for the margin */
    /* You can also add padding inside each item if needed */
  }
}

.footer {
  background-color: #f8f8f8; /* Footer background color */
}

.footer .heading {
  font-weight: bold;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer .partners {
  display: flex;
  justify-content: center; /* Center logos horizontally */
  align-items: center; /* Center logos vertically */
  gap: 20px; /*
}

.footer .social-media {
  /* Styles for the social media icons */
}

.footer,
.footer .bottom-bar {
  margin-bottom: 0;
  padding-bottom: 0;
}

.footer .bottom-bar {
  background-color: #ffc107; /* The yellow bar at the bottom */
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;
}

.partner-image {
  max-width: 100px; /* Maximum logo width, adjust as needed */
  height: auto; /* Maintain aspect ratio */
  /* Additional styles if necessary */
}
