/* This will apply styles to the wrapping div of ReactImageMagnify */
.image-container {
  max-width: 530px; /* Maximum size on large screens */
  height: auto; /* Height is automatic to maintain aspect ratio */
  margin: auto; /* Center the container if it's smaller than the parent */
  /* overflow: hidden; */
}

/* Adjusts the image within the container */
.image-container .react-image-magnify__small-image {
  width: 100%;
  height: auto;
  object-fit: contain; /* Keeps the image's aspect ratio inside the container */
}

/* For mobile and tablet screens, no need to specify size, it will be fluid */
@media (max-width: 1023px) {
  .image-container {
    max-width: none;
  }
}

.product-details {
  background-color: #fafbfc;
  border-radius: 4px;
  padding: 24px;
}
